*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	height: 100vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background: linear-gradient(rgb(47,150, 163), rgb(48,62,143));
	font-family: sans-serif;
	color: white; 
}

.location{
	margin-bottom: 2%;
}

.location,
.temperature{
	height: 30vh;
	width: 50%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}


.temperature{
	flex-direction: column;
}

.degree-section{
	display: flex;
	align-items: center;

}

.degree-section span{
	/*margin: 10px;*/
	font-size: 30px;
	cursor:pointer;
}


.degree-section h2{
	font-size: 40px;
}

.search{
	justify-content: space-between;
	display: flex;
	flex-direction: row;
	margin-top: 5%;
}

#search{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  margin-left: 20px;
  padding: 5px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;

}

#btn{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  margin-left: 20px;
  padding: 5px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}
input[type=text]{
	width: 100%;
	padding: 10px;
	border-radius: 10px;

}

.temperature-description{
	font-size: 200%;
}


.content{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 10vh;
	width: 50%;

}

.content-section{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 10vh;
	width: 100%;

}


.humidity-section{
	font-size: 25px;
	align-items: center;
	display: flex;
}

.wind-section{
	display: flex;
	font-size: 25px;
	align-items: center;
}
